html,
body {
	height: 100%;
	overflow: auto;
}

.p5Canvas > canvas {
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
}

main > canvas {
	display: none;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
