:root {
	--primary-color: rgba(248, 173, 157, 90%);
	--secondary-color: rgba(255, 227, 221, 90%);
	--text-color: rgba(94,14,14,100%);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}